<div class="fullscreen-container">
  <div class="form-container">
  <form *ngIf="productUpdateForm" [formGroup]="productUpdateForm" (ngSubmit)="updateProduct()">
    <h2>Ürün Güncelle</h2>
    <div class="form-group">
      <label for="productId">Product ID</label>
      <input type="text" formControlName="productId" class="form-control" id="productId" />
    </div>
    <div class="form-group">
      <label for="createdUserId">Created User Id</label>
      <input type="text" formControlName="createdUserId" class="form-control" id="createdUserId" />
    </div>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" formControlName="productName" class="form-control" id="productName" />
    </div>
    <div class="form-group">
      <label for="colorId">Color</label>
      <input type="number" formControlName="colorId" class="form-control" id="colorId" />
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <select formControlName="size" class="form-control" id="size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!productUpdateForm.valid">Update Product</button>
  </form>
</div>
