<li *ngIf ="cartItems" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="" data-bs-toggle="" aria-expanded="false">
      <!--Sepetiniz-->
    </a>
   <!-- <ul class="dropdown-menu">
      <li  *ngFor= "let cartItem of cartItems">
       <a class="dropdown-item" > <span class="badge text-bg-secondary">
        {{cartItem.quantity}} </span>{{cartItem.order.orderId}}
         <span  (click)= "removeFromCart(cartItem.order)"  class= " badge text-bg-secondary"> Sil </span></a></li>
     
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Sepete Git</a></li>
    </ul> -->
  </li>